@media all and (min-width: 480px) {
  
    .Signup {
      max-width: 350px;
      height: 100%;
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
      color: black;
      padding-bottom: 8rem;
      min-height: calc(100% - 6rem);
      
    }

    .Signup form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Signup h1 {
      margin-left: 1.5rem;
    }
  }
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }
  
  .control-label{
      color: #fff !important;
    text-shadow: none !important;
    font-size: 20px !important;
    font-weight: 200;
  }
  
  .Signup img {
    width: 200px;
    height: 100px;
  
    margin-left: 40px;
    margin-bottom: 40px;
  }
  
  .back-button {
    margin-top: 10px;
  }
  
  .back-button span{
    color: #fff !important;
  }