.profile{
    background-color: #99C7FF;
    border-bottom-left-radius: 30% 10%;
    border-bottom-right-radius: 30% 10%;
}
.friends{
    background-color: #ffffff;
}
.friends h1{
    color:#679BF1;
}
.friends h2{
    color:#99C7FF; 
    float:left;
}
body{
    background-color: white;
    margin:0;
    padding:0;
}
.search{
    border-radius: 16px;
    background-color:#99C7FF ;
    border:none;
    float:right;
    height: 40px;
    padding-left: 10px;
}
table{
    width:100%;
    border-color:#679BF1;
    border-radius: 16px;
    color: white;
    margin-top: 5%;
}
.profile{
    text-align: center;
    color:white
}
.profile img{
    height: 300px;
    width: 300px;
}
th{
    background-color:#99C7FF ;
    border-radius: 16px;
    padding-left: 10px;
}
.add{
    background-color: transparent;
    border: none;
    color:white;
}
.message{
    background-color: transparent;
    border:none;
    color:white;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-left: 2vh;
}