.profile{
    background-color: #99C7FF;
    border-bottom-left-radius: 90% 20%;
    border-bottom-right-radius: 90% 20%;
    height: 580px;
}

.friends-title {
    color:#679BF1;
}

.friends-desc {
    color:#99C7FF; 
    float:left;
}

body{
    background-color: white;
    margin:0;
    padding:0;
}

.search{
    border-radius: 20px;
    background-color:#99C7FF ;
    color: #fff;
    border: none;
    float: right;
    height: 40px;
    padding-left: 10px;
}

.friends {
    border: solid 3px #679BF1;
    border-radius: 25px;
    color: white;
    margin-top: 5%;
}

.friends-header {
    overflow: auto;
}

.friends-table {
    margin: 10px;
}

.profile{
    text-align: center;
    color:white
}

.btn-friends {
    height: 32px;
    border-radius: 20px;
    background-color:#99C7FF;
    text-align: center;

    margin: 8px;
    margin-right: 14px;
    margin-left: 14px;
}

.btn-name {
    text-indent: 10px;
    width: 40%;
    text-align: left;
}

.btn-friendstat {
    text-align: center;
    width: 20%;
}

.btn-mssg {
    text-align: center;
    text-align: ;
    width: 20%;
}

.profile-img{
    height: 300px;
    width: 300px;
}

.add{
    background-color: transparent;
    border: none;
    color:white;
}

.message{
    background-color: transparent;
    border:none;
    color:white;
}

.profile-logo{
    height: 100px;
    width: 100px;
}

.logo {
    height: 32px;
    width: 32px;
    margin: 8px;
}