.choose-mbti{
    height: 600px;

    text-align: center;
    background-color:#99C7FF;

    padding-top: 100px;
    padding-bottom: 100px;
}

.choose-mbti h1{
    font-family: Monsterrat; 
    color:white;
}
.choose-mbti h2{
    font-family: Monsterrat; 
    color:white;
}

.choose-mbti .btn{
    margin:20px; 
    border-radius:30%; 
    border-style: hidden; 
    background-color: white; 
    color:#444853;
}

