.body {
  height: 100%;
}

.home-page {
  min-height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline-block;
}

.upper-home {
  background: #99c7ff;
  height: 200px;
  border-bottom-right-radius: 20;
}

.home-page svg {
  display: block;
  margin: 0;
}

.ml-10 {
  margin-left: 100px;
}

.mr-10 {
  margin-right: 100px;
}