@media all and (min-width: 480px) {
  .content {
    height: 100%;;
    background: #f8de7e;
    margin: 0;
    padding: 0;
  }
  
  .Login {
    max-width: 350px;
    height: 100%;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .login-title {
    font-size: 40px;
    font-weight: 600;
    color: black;

  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Login h1 {
      margin-left: 1.5rem;
  }
}  
  .control-label{
    color: #fff !important;
    text-shadow: none !important;
    font-size: 20px !important;
    font-weight: 200;
  }